/*
 Width: 1000px
 # Columns : 12 
 Column width: 62px
 Gutter : 5px 

target / context = result

 */

.grid_1 { width: 6.4%; } /* 64px/1000px */
.grid_2 { width: 13.6%; } /* 136px/1000px */
.grid_3 { width: 20.8%; } /* 208px/1000px */
.grid_4 { width: 28%; } /* 280px/1000px */
.grid_5 { width: 35.2%; } /* 352px/1000px */
.grid_6 { width: 42.4%; } /* 424px/1000px */
.grid_7 { width: 49.6%; } /* 496px/1000px */
.grid_8 { width: 56.8%; } /* 568px/1000px */
.grid_9 { width: 64%; } /* 640px/1000px */
.grid_10 { width: 71.2%; } /* 712px/1000px */
.grid_11 { width: 78.4%; } /* 784px/1000px */
.grid_12 { width: 85.6%; } /* 856px/1000px */
.grid_13 { width: 92.8%; } /* 928px/1000px */
.grid_14 { width: 100%; } /* 1000px/1000px */

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14
	{
	margin: 0 0 1% 0;
	display: inline-block;
}

.alpha{margin-left:0;}
.omega{margin-right:0;}

.container{
	width: 100%; /*width: 1000px;*/
	max-width: 1000px;
	margin: auto;
	margin-top: 25px;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}



